<div class="container">
    <mat-toolbar>
        <mat-toolbar-row>
            <img src="../../../assets/images/logos/M'chat Logo.jpg" alt="logo">

            <div class="app-title">
                M'chat
            </div>

            <span class="toolbar-spacer"></span>

            <mat-icon class="user-icon" svgIcon="user-icon"></mat-icon>

            <div class="account-container">
                <div class="user-name">
                    <div>Mohib Shaik</div>
                </div>
            </div>

            <mat-icon class="expand-more-icon" [matMenuTriggerFor]="beforeMenu">expand_more</mat-icon>

            <mat-menu class="toolbar-user-menu" #beforeMenu="matMenu" xPosition="before">
                <div class="logout-container">
                    <div class="user-email">
                        Mohib.shaik@gmail.com
                    </div>
                    <hr align="center" width="80%" />
                    <div class="logout-action">
                        Logout
                    </div>
                </div>
            </mat-menu>

        </mat-toolbar-row>
    </mat-toolbar>


    <!-- side nav bar  -->
    <mat-sidenav-container>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>