<div class="me_signup">
    <mat-card class="signup-card">
        <mat-card-header>
            <!-- <mat-icon mat-card-avatar svgIcon="InsertedChart"></mat-icon> -->
            <mat-card-title>
                <span >S</span>ign-up
            </mat-card-title>
        </mat-card-header><hr>
        <mat-card-content>
            <form novalidate [formGroup]="signUpForm" (ngSubmit)="submit()">
                <div class="wrapper">
                    <mat-form-field class="email-field">
                        <mat-label>Username</mat-label>
                        <input matInput type="userName"formControlName="userName" class="form-control" >
                        <mat-error class="form-text text-danger" *ngIf="signUpForm.controls.userName.errors && signUpForm.controls.userName.errors.required">{{signUpForm.controls.userName.errors.required.message}}</mat-error>
                        <mat-error  class="form-text text-danger" *ngIf="signUpForm.controls.userName.errors && signUpForm.controls.userName.errors.alpha">{{signUpForm.controls.userName.errors.alpha.message}}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="email-field">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" [formControl]='signUpForm.controls.email'>
                        <mat-error *ngIf="signUpForm.controls.email.errors">
                            {{signUpForm.controls.email.errors.required.message}}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="email-field">
                        <mat-label>Phone Number</mat-label>
                        <input matInput type="phnum" [formControl]='signUpForm.controls.phnum'>
                        <mat-error *ngIf="signUpForm.controls.phnum.errors">
                            {{signUpForm.controls.phnum.errors.required.message}}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="password-field">
                        <mat-label>Password</mat-label>
                        <input matInput type="password"  formControlName="password" class="form-control" >
                        <mat-error *ngIf="signUpForm.controls.password.errors && signUpForm.controls.password.errors.required">
                            {{signUpForm.controls.password.errors.required.message}}</mat-error>
                        <mat-error class="form-text text-danger" *ngIf="signUpForm.controls.password.errors && signUpForm.controls.password.errors.minLength">
                            {{signUpForm.controls.password.errors.minLength.message}}</mat-error>
                    </mat-form-field>
                    
                    <mat-form-field class="password-field">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput type="confirmPassword" formControlName="confirmPassword" class="form-control" >
                        <mat-error class="form-text text-danger" *ngIf="signUpForm.controls.confirmPassword.errors && signUpForm.controls.confirmPassword.errors.compare">
                            {{signUpForm.controls.confirmPassword.errors.compare.message}}</mat-error>
                    </mat-form-field>

                    <button [disabled]="!signUpForm.valid"  mat-raised-button>SignUp</button><br>

                </div>
            </form>
        </mat-card-content>

    </mat-card>
</div>