<div class="container">
    <div class="logo-section">
        <img src="../../../assets/images/logos/m'chat.png" alt="logo">
    </div>

    <div class="button-section">

        <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button class="login100-form-btn" (click)='redirectToSignup()'>Sign Up</button>
            </div>
        </div>

        <div class="container-login100-form-btn pd-top">
            <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button class="login100-form-btn" (click)='redirectToSignin()'>Sign In</button>
            </div>
        </div>

    </div>

</div>