<div class="hero">
    <mat-card class="login-card">
        <mat-card-header>
            <!-- <mat-icon mat-card-avatar svgIcon="InsertedChart"></mat-icon> -->
            <mat-card-title>
                <span>C</span>HAT <span>Z</span>ONE
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form novalidate [formGroup]="signInForm" (ngSubmit)="submit()">
                <div class="wrapper">
                    <mat-form-field class="email-field">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" [formControl]='signInForm.controls.email'>
                        <mat-error *ngIf="signInForm.controls.email.errors">
                            {{signInForm.controls.email.errors.required.message}}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="password-field">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" [formControl]='signInForm.controls.password'>
                        <mat-error *ngIf="signInForm.controls.password.errors">
                            {{signInForm.controls.password.errors.required.message}}</mat-error>
                    </mat-form-field>

                    <button mat-raised-button>SignIn</button><br>
                    <p style="padding: 10px;">Not registered? <a routerLink="/signup"
                            routerLinkActive="active">SignUp</a></p>

                </div>
            </form>
        </mat-card-content>

    </mat-card>
</div>

<!-- <div class="hero">
    <mat-card class="login-card">
        <mat-card-header> 
            <mat-card-title>
                <span>C</span>HAT <span>Z</span>ONE
            </mat-card-title>
        </mat-card-header>
        <mat-tab-group>
            <mat-tab label="SignIn"> Content 1 </mat-tab>
            <mat-tab label="SignUp"> Content 2 </mat-tab>
        </mat-tab-group>
    </mat-card>
</div> -->