<div class="hero">

    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title>
                <span class="login100-form-title p-b-45">
                    M'Chat
                </span>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form novalidate [formGroup]="signInForm" (ngSubmit)="submit()">
                <div class="wrapper">
                    <mat-form-field class="email-field">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" [formControl]='signInForm.controls.email'>
                        <mat-error *ngIf="signInForm.controls.email.errors">
                            {{signInForm.controls.email.errors.required.message}}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="password-field">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'"
                            [formControl]='signInForm.controls.password'>

                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

                        <mat-error *ngIf="signInForm.controls.password.errors">
                            {{signInForm.controls.password.errors.required.message}}</mat-error>
                    </mat-form-field>

                    <!-- <button mat-raised-button>Login</button> -->

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">SignIn</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="frgt-psswd-section">
                <a href="/register">Forgot Password ?</a>
            </div>

            <div class="register-section">
                <span>Don't have a account , Register</span><a href="signUp">here</a>
            </div>
        </mat-card-content>



    </mat-card>
</div>